    <mat-accordion class="tree-menu">

        <mat-expansion-panel class="mat-elevation-z0" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox class="example-margin" click-stop-propagation>{{spatialTree.name}}</mat-checkbox>
            </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>

    
          <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0" hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                        Properties
                </mat-panel-title>
                <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-divider></mat-divider>

              <table mat-table [dataSource]="spatialTree.properties" class="mat-elevation-z0 props-table">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="value" >
                  <td mat-cell *matCellDef="let element" class="header-align-right"> {{element.value}} </td>
                </ng-container>
              
              
                <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
              </table>

            </mat-expansion-panel>
          </mat-accordion>
    
          
        <mat-accordion>
            <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngFor="let site of spatialTree.spatialChildren">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-checkbox class="example-margin" click-stop-propagation>{{ site.name }}</mat-checkbox>
                </mat-panel-title>
                <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description>
              </mat-expansion-panel-header>



              <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                            Properties
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description>
                  </mat-expansion-panel-header>
    
                  <mat-divider></mat-divider>
    
                  <table mat-table [dataSource]="site.properties" class="mat-elevation-z0 props-table">
    
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="value" >
                      <td mat-cell *matCellDef="let element" class="header-align-right"> {{element.value}} </td>
                    </ng-container>
                  
                  
                    <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
                  </table>
    
                </mat-expansion-panel>
              </mat-accordion>
        



            <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngFor="let building of site.spatialChildren">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <mat-checkbox class="example-margin" click-stop-propagation> {{building.name}} </mat-checkbox>
                    </mat-panel-title>
                    <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description>
                  </mat-expansion-panel-header>


            
                  <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                                Properties
                        </mat-panel-title>
                        <mat-panel-description>
                          This is a summary of the content
                        </mat-panel-description>
                      </mat-expansion-panel-header>
        
                      <mat-divider></mat-divider>
        
                      <table mat-table [dataSource]="building.properties" class="mat-elevation-z0 props-table">
        
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                      
                        <!-- Name Column -->
                        <ng-container matColumnDef="value" >
                          <td mat-cell *matCellDef="let element" class="header-align-right"> {{element.value}} </td>
                        </ng-container>
                      
                      
                        <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
                      </table>
        
                    </mat-expansion-panel>
                  </mat-accordion>
            


                <mat-accordion>
                    <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngFor="let storey of building.spatialChildren">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-checkbox class="example-margin" click-stop-propagation> {{storey.name}} </mat-checkbox>
                        </mat-panel-title>
                        <mat-panel-description>
                          This is a summary of the content
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      
                
                      <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0" hideToggle>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                    Properties
                            </mat-panel-title>
                            <mat-panel-description>
                              This is a summary of the content
                            </mat-panel-description>
                          </mat-expansion-panel-header>
            
                          <mat-divider></mat-divider>
            
                          <table mat-table [dataSource]="storey.properties" class="mat-elevation-z0 props-table">
            
                            <!-- Position Column -->
                            <ng-container matColumnDef="name">
                              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="value" >
                              <td mat-cell *matCellDef="let element" class="header-align-right"> {{element.value}} </td>
                            </ng-container>
                          
                          
                            <tr mat-row *matRowDef="let row; columns: ['name', 'value'];"></tr>
                          </table>
            
                        </mat-expansion-panel>
                      </mat-accordion>
                


    
                       <!-- <mat-accordion>
                        <mat-expansion-panel class="mat-elevation-z0" hideToggle *ngFor="let item of storey.children;">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox class="example-margin" click-stop-propagation> {{"ID: " + item}} </mat-checkbox>
                            </mat-panel-title>
                            <mat-panel-description>
                              Item details
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          Item info here!
                        </mat-expansion-panel>
                      </mat-accordion>  -->


                    </mat-expansion-panel>
                  </mat-accordion>

                  
                </mat-expansion-panel>
            </mat-accordion>

        </mat-expansion-panel>
    </mat-accordion> 

</mat-expansion-panel>
</mat-accordion>
