* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    overflow: hidden;
}

.hidden {
    visibility: collapse;
}

.icon {
    max-width: 20px;
    max-height: 20px;
    margin: auto;
}

.text {
    color: rgb(173, 173, 173);
    border-bottom: 1px solid rgb(104, 104, 104);
    padding: 0.6em 0.6em 0.6em 1em;
}

.text:hover {
    background-color: #3e4147;
}

.text-title {
    color: rgb(236, 236, 236);
}

.basic-button {
    background-color: #202225;
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
}

.basic-button:hover {
    background-color: #2a2d33;
}

.side-menu {
    z-index: 1;
    position: fixed;
    background-color: #36393F;
    height: 100vh;
}

.side-sub-menu {
    width: 100%;
    height: inherit;
    margin: 2px;
}

#viewer-container {
    position: relative;
    width: 50vw;
    height: 50vh;
    overflow: hidden;
}

#side-menu-left {
    width: 40px;
}

#side-menu-right {
    right: 0;
    width: 300px;
}