.stats{
  visibility: collapse;
  right: 0;
}

.mat-drawer-inner-container{
  padding: 0;
}

.sidemenu{
  padding: 0 0 1rem 0;
  max-width: 50%;
}

#viewer-container {
  width: 100vw;
  height: 100vh;
}