<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Properties </mat-panel-title>
        <mat-panel-description> This is a summary of the content </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-divider></mat-divider>
<!-- 
      <table mat-table [dataSource]="spatialTree.properties" class="mat-elevation-z0 props-table">
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <td mat-cell *matCellDef="let element" class="header-align-right">
            {{ element.value }}
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['name', 'value']"></tr>
      </table> -->
    </mat-expansion-panel>
  </mat-accordion>
