<!-- <button mat-raised-button [matMenuTriggerFor]="menu">Menu</button> -->
<mat-menu #menu="matMenu" class="contextMenu">
    <button (click)="onAddClippingPlane()" mat-menu-item>Add clipping plane</button>
    <button (click)="onRemoveClippingPlane()" mat-menu-item>Remove clipping plane</button>
</mat-menu>

<!-- an hidden div is created to set the position of appearance of the menu--> 
<div style="visibility: hidden; position: fixed;" 
[style.left]="menuTopLeftPosition.x" 
[style.top]="menuTopLeftPosition.y" 
[matMenuTriggerFor]="menu"></div> 