<mat-accordion>
  <mat-expansion-panel
    (opened)="loadChildren()"
    class="mat-elevation-z0 spatial-tree-node"
    [ngClass]="{ 'root-node': rootNode && clicked }"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-checkbox class="example-margin" click-stop-propagation>{{ name }}</mat-checkbox>
      </mat-panel-title>
      <mat-panel-description> {{ 'ID: ' + ifcID }} </mat-panel-description>
    </mat-expansion-panel-header>

    <app-spatial-tree-node
      *ngFor="let spatialChild of spatialChildren; index as i"
      [ifcID]="spatialChildren[i]"
      (spatialIndex)="(spatialIndex == 0 || spatialIndex) ? spatialIndex + 1 : 0"
    >
    </app-spatial-tree-node>

    <!-- <app-spatial-tree-node
    *ngFor="let child of children; index as j"
    [ifcID]="children[j]"
  >
  </app-spatial-tree-node> -->
  </mat-expansion-panel>
</mat-accordion>
